---
layout: base.liquid
---
{{ content }}

<footer class="writing-footer">
  <p>Comments? Questions? Feel free to reach out at <a href="mailto:ishang@berkeley.edu?subject={{ title | url_encode }}">ishang@berkeley.edu</a>.</p>
</footer>
